/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* TailwindCSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
/* Custom Fade-In Animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Delayed Fade-In for Skills */
.skill-fade-in {
  opacity: 0;
  animation: fadeIn 0.7s ease-in forwards;
  animation-delay: 0.3s;
}
